<nav>
  <div class="site-title">
    <a href="/"><h1>DaVInCi Testing</h1></a>
    <p>Test development/demo</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/post_demo">POST Method Demo</a></li>
    <li><a href="/socket_demo">Websockets Demo</a></li>
  </ul>
</nav>