<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div>
        <h2>Websockets Demo</h2>
        <p>[TODO]</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>